<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Add Client</title>
</head>
<body>
    <section th:fragment="addClient">
        <div id="addClient" class="modal fade">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header bg-info text-white">
                        <h5 class="modal-title" th:text="#{person.create}">Add Client</h5>
                        <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                        </button>
                    </div>
                    <form th:action="@{/save}" th:object="${person}"
                    method="post" class="was-validated">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="name" th:text="#{person.name}">Name</label>
                                <input type="text" class="form-control" name="name" required="true">
                            </div>
                            <div class="form-group">
                                <label for="surname" th:text="#{person.surname}">Surname</label>
                                <input type="text" class="form-control" name="surname" required="true">
                            </div>
                            <div class="form-group">
                                <label for="email" th:text="#{person.email}">Email</label>
                                <input type="email" class="form-control" name="email" required="true">
                            </div>
                            <div class="form-group">
                                <label for="phone" th:text="#{person.phone}">Phone</label>
                                <input type="tel" class="form-control" name="phone">
                            </div>
                            <div class="form-group">
                                <label for="balance" th:text="#{person.balance}">Balance</label>
                                <input type="number" class="form-control" name="balance" required="true" step="any">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="submit" th:text="#{action.save}">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>