<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Clients control</title>
</head>
<body>
    <header th:replace="layout/template :: header"></header>
    <form>
        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/add}">[[#{person.create}]]</a>
        <div th:if="${persons != null and !persons.isEmpty()}">
        <table border="1">
            <tr>
                <th>[[#{person.name}]]</th>
                <th>[[#{person.surname}]]</th>
                <th>[[#{person.email}]]</th>
                <th>[[#{person.phone}]]</th>
                <th sec:authorize="hasRole('ROLE_ADMIN')"> [[#{action.update}]]</th>
                <th sec:authorize="hasRole('ROLE_ADMIN')">[[#{action.delete}]]</th>
            </tr>
            <tr th:each="person : ${persons}">
                <td th:text="${person.name}"></td>
                <td th:text="${person.surname}"></td>
                <td th:text="${person.email}"></td>
                <td th:text="${person.phone}"></td>
                <td><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/modify/} + ${person.idPerson}" th:text="#{action.modify}"></a></td>
                <td><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/delete(idPerson=${person.idPerson})}" th:text="#{action.delete}"></a></td>
            </tr>
        </table>
        </div>
        <div th:if="${persons == null or persons.isEmpty()}">
            [[#{person.emptyList}]]
        </div>
    </form>
    <footer th:replace="layout/template :: footer"></footer>
</body>
</html>