<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/template :: head">
    <meta charset="UTF-8">
    <title>Clients control</title>
</head>
<body>
    <header th:replace="layout/template :: header"></header>

    <header th:replace="layout/addButtons :: addButtons"></header>
    <header th:replace="layout/addClient :: addClient"></header>
    <header th:replace="layout/clientsList :: clientsList"></header>
    <footer th:replace="layout/template :: footer"></footer>
</body>
</html>